<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>BaiZhi</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/*.xml,classpath:spring/*/*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>session</filter-name>
		<filter-class>com.baizhi.commons.filter.SessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>people</filter-name>
		<filter-class>com.baizhi.commons.filter.PeopleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>session</filter-name>
		<url-pattern>*.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>session</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>session</filter-name>
		<url-pattern>/person/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>people</filter-name>
		<url-pattern>/people/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>createJsonData</servlet-name>
		<servlet-class>com.baizhi.area.action.CreateJsonData</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
 	<!-- Struts2 的过滤器配置    开始 -->
 	<!-- 
 	struts2的web.xml配置是有顺序的，在web.xml中EncodingFilter的位置应该在Struts2的FilterDispatcher之前，因为要先调整字符集，然后进入Action
 	按照Struts2的API，filter的顺序是 struts-cleanup filter、SiteMesh filter、FilterDispatcher
 	-->
    <filter>
    	<description>zh-cn encoding</description>
        <filter-name>struts-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>  

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.go</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- Struts2 的过滤器配置    结束 -->
	
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageCodeServlet</servlet-name>
		<servlet-class>com.baizhi.ImageCodeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageCodeServlet</servlet-name>
		<url-pattern>/ImageCodeServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index/home.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
  		<error-code>404</error-code>
  		<location>/index/baizhi404.jsp</location>
 	</error-page>
</web-app>