body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul,li { margin:0; padding:0;
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

body {color:#000; font-family:"宋体"; font-size:12px; line-height:150%; background-color:#fff;  margin:0; padding:0;}

img{
	border:0px;
	vertical-align:middle;
}
input,select,radio{
	vertical-align:middle;
}
table,td{
	border-collapse:collapse;
}
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
	}
.clear{ clear:both;}



.top{ width:100%; height:85px; background:url(../images/main/top_bg.jpg)}
.top_big{ width:860px; margin:0 auto; height:60px;}
.logo{ width:155px; height:37px; float:left; padding-top:25px;}
.nav{  padding-top:40px; width:705px; float:left; height:20px; text-align:right;
      font-size:14px;}
.nav a{ color:#fff; font-weight:bold;}
.nav a:hover{ color:#111;}

/**************    top完     *****************/
.content{ width:860px; margin:0 auto; margin-top:30px; margin-bottom:50px;}
.c_left{ width:570px; float:left; height:auto;}
.search{ width:570px; height:28px; color:#999; padding-bottom:30px; overflow:hidden;}
.bot_t{ width:100px; height:28px; background:url(../images/main/bot.jpg) no-repeat; border:0;  }
.subMenu{ width:570px; height:30px; padding-bottom:5px; border-bottom:3px solid #bdd11a;}
.subMenu ul .zui{ float:left; padding-left:40px; width:100px; background:url(../images/main/sm_1.png) no-repeat; height:30px;}
.subMenu ul .re{ float:left; padding-left:40px; width:100px; background:url(../images/main/sm_2.png) no-repeat; height:30px;}
.subMenu ul li a{ font-family:"微软雅黑"; font-size:16px;  color:#333; text-align:center; width:100px; line-height:30px; }
.subMenu ul li a:hover{ color:#ff7200;}
.subMenu ul li a:visited{ color:#98b012; font-size:16px;}
.line_1{ height:20px; margin-top:3px; border-top:1px solid #bdd11a;}
.title{width:570px; padding-bottom:20px;}
.tit_tit{ width:570px; height:25px; padding-bottom:5px; border-bottom:1px solid #bdd11a;}
.tit_tit_1{ width:25px; float:left;}
.tit_tit_1 a{ width:25px; height:25px; line-height:25px;display:block; background-color:#eaefc3; color:#adc318; text-align:center; font-weight:bold;}
.tit_tit_1 a:hover{ background-color:#adc318; color:#fff;}
.tit_tit_2{ width:545px; height:25px; line-height:25px; float:left;}
.tit_tit_2 a{ color:#98b012; font-size:14px; font-weight:bold; float:left;}
.tit_tit_2 a:hover{ color:#ff7200;}
.tit_tit_2 span{ float: right;  height:25px; width:25px;}
.tit_content{ line-height:20px; padding-left:10px; width:550px; padding-bottom:15px; padding-top:10px;}
.tit_bot{ height:30px; background-color:#f7f7f7; width:550px; padding:0 10px;}
.tit_bot_zl{ float:left; width:100px; line-height:30px;}
.tit_bot_gz{ float:left; line-height:30px; width:450px; text-align:right;}
.tit_bot_gz a{ color:#98b012;}
.tit_bot_gz a:hover{ color:#333;}
.tiao{ width:570px; height:35px; line-height:35px; background:url(../images/main/tiao.png);  text-align:center;}
.tiao a{ font-size:14px; color:#333; font-weight:bold;}
.tiao a:hover{ color:#ff7200}
/**************    left完     *****************/

.c_right{width:200px; float:left; height:auto; margin-left:90px; display:inline;}
.right_subMenu{ width:200px; margin-bottom:30px;}
.right_subMenu ul li{ margin-bottom:5px; height:25px; background-color:#adc318; line-height:25px; text-align:center; list-style:none; font-size:0;}
.right_subMenu ul li a{ display:block; color:#fff; font-size:12px;}
.right_subMenu ul li a:hover{ background-color:#ff9000;}
.r_column{ width:200px; padding-bottom:25px;}
.column{ width:180px;height:25px; padding-bottom:5px; border-bottom:1px solid #bdd11a; line-height:25px; background:url(../images/main/kuai.png) no-repeat; padding-left:20px;font-size:14px; font-weight:bold;}
.column a{ font-size:14px; font-weight:bold; color:#333; text-decoration:none;}
.column_content{ width:180px; padding-top:15px; height:50px; padding-left:20px;}
.coulumn_c_left{ width:100px; float:left; padding-right:10px; }
.coulumn_c_left ul li{ list-style:none; height:20px; line-height:20px;}
.coulumn_c_left ul li a{ text-decoration:none;color:#333;}
.coulumn_c_left ul li a:hover{ color:#ff7200;}
.coulumn_c_right{ float:left; width:40px; padding-top:8px;}
.colun_c_gxq{ width:160px; height:27px; font-size:12px; }
.colun_l{ float:left; padding-left:10px;}

.colun_l a{ text-decoration:none; color:#333;line-height:27px;}
.colun_l a:hover{ color:#ff7200;}
.column_contentgxq{width:160px; margin:15px 0 15px 0; border-bottom:1px solid #777; padding:0 20px 10px 20px;}
.colun_c_main{ line-height:20px; font-size:12px; color:#999;}
.colun_c_pptu{ height:60px; float:left; width:60px; padding-top:5px;}
.colun_c_ppwz{ width:90px; float:left; padding-left:10px;}
.colun_c_xnr a{ font-size:14px; color:#333; line-height:20px; font-weight:bold; text-decoration:none;}
.colun_c_xnr a:hover{ color:#ff7200}
.colun_c_xnrcon{ font-size:12px; color:#333; line-height:20px;}
.left_b_tp{ width:200px; height:200px;}
.more{ width:200px; text-align:right; height:20px;}
.more a{ font-size:14px; line-height:20px; color:#98b012; font-weight: bold;}
.more a:hover{ color:#ff7200;}
/**************    right完     *****************/

.footer{ width:100%; height:75px; background:url(../images/main/bottom_bg.jpg);}
.footer_nav{text-align:center; width:900px; padding-top:20px; line-height:30px; margin:0 auto;}
.footer_nav a{  color:#fff; text-decoration:none;}


/**************    相关问题.css   *****************/
.list_xgwt_xght{ line-height:30px; height:30px; width:570px;}
.list_xgwt_xght a{ color:#98b012; font-weight:bold;}
.list_xgwt_xght a:hover{ color:#ff9000;}
.subMenu .bot_tjht{ width:107px; height:30px; background:url(../images/main/tjht.jpg); border:0;}
.subMenu .bot_wc{ width:66px; height:30px; background:url(../images/main/an_wc.jpg); border:0;}
.title_xgwt{width:550px; padding-bottom:20px; border-bottom:1px solid #bdd11a; padding-left:10px;  padding-right:10px; padding-top:10px;}
.title_xgwt_tu{  float:left; padding-right:15px; }
.title_xgwt_xner{ width:350px; float:left; padding-top:10px;height:65px; padding-right:10px;}
.title_xgwt_xner ul li{ list-style:none; line-height:20px;}
.title_xgwt_xner ul li a{ color:#98b012; font-weight:bold;}
.title_xgwt_xner ul li a:hover{ color:#ff9000;}
.title_xgwt_xner ul li .tit_con{ line-height:20px;}
.title_xgwt_anniu{ width:100px; height:75px; float:left; }
.title_xgwt_anniu p{ padding-top:10px;}
.title_xgwt_x{width:560px; padding-bottom:20px; border-bottom:1px solid #bdd11a; padding-left:10px; height:75px; padding-top:15px;}

.column_xgwt{ width:180px; padding:0 10px;}
.column_xgwt ul li{ list-style:none; line-height:20px; padding-top:10px; }
.column_xgwt ul li a{ text-decoration:none;color:#333; font-size:12px;}
.column_xgwt ul li a:hover{ color:#ff7200;}
.column_yqtr{ width:200px; height:35px; background-color:#adc318; line-height:35px; text-align:center; }
.column_yqtr a{ color:#fff; font-weight:bold; font-size:14px; display:block;}
.column_yqtr a:hover{ background:#ff9000; color:#fff;}
.column_wtzt{ width:200px; font-weight:bold; height:30px; line-height:30px;}
.column_wt_blr{width:200px; margin:0 0 15px 0; line-height:20px;}

.column_xgwt_hy{width:200px; margin:15px 0 15px 0;  }
.column_xgwt_hy ul li{ height:30px;}
.column_xgwt_hy ul li img{ padding-right:3px;}

.tooltips{
position:relative; /*这个是关键*/
z-index:2;
}
.tooltips:hover{
z-index:3;
background:none; /*没有这个在IE中不可用*/
}
.tooltips span{
display: none;
}
.tooltips:hover span{ /*span 标签仅在 :hover 状态时显示*/
display:block;
position:absolute;
top:21px;
left:9px;
width:30px;
border:1px solid #999;
background-color:#e8e8e8;
padding:2px;
color:black;
}




/**************    会员列表.css   *****************/
.list_hylb{width:570px; height:30px; }
.list_hylb .bot_tjht{ width:107px; height:30px; background:url(../images/main/tjht.jpg); border:0;}
.list_hylb .bot_wc{ width:66px; height:30px; background:url(../images/main/an_wc.jpg); border:0;}
.subMenu_hylb{width:570px;  padding:5px 0; border-bottom:3px solid #bdd11a; font-size:14px; line-height:30px; color:#333;}
.title_hylb_anniu{ width:100px; height:50px; float:left; padding-top:25px;}

/**************    问题页面.css   *****************/

.title_wtym{width:550px;  padding-left:10px; padding-right:10px;}
.title_wtym_tit{ width:550px; line-height:25px; color:#333;}
.title_wtym_tit a{ color:#333; font-weight:bold;}
.title_wtym_tit a:hover{ color:#98b012;}
.title_wtym_con{ width:550px; padding-bottom:10px; }
.title_wtym_con p{ padding-top:10px;line-height:20px;}
.tit_bot_wtym{float:left; line-height:30px; height:30px; background-color:#f7f7f7; width:550px; padding:0 10px; margin-bottom:15px;}
.tit_bot_wtym a{ color:#98b012;}
.tit_bot_wtym a:hover{ color:#333;}
.tit_wtym_tjda{ width:570px; line-height:30px; color:#98b012; font-weight:bold; font-size:14px;}
.tit_wtym_daan{ width:550px; height:150px; padding:10px; background:#dadade;}
.tit_wtym_tjda_anniu{ height:30px; padding-top:20px; padding-left:480px; width:90px; }
.tit_wtym_tjda_anniu .bot_tjda{ text-align:right; height:30px; width:88px; background:url(../images/main/tjda.jpg); border:0;}


/**************    品牌页面.css   *****************/
.tit_1{ padding:0 10px 15px 10px;}
.tit_google{ width:100px; float:left; padding-right:15px;}
.tit_google_con{ width:425px; float:left; padding-right:10px;}
.tit_google_con ul li{ list-style:none; line-height:20px;}
.tit_google_con ul li a{ color:#98b012; font-weight:bold;}
.tit_google_con ul li a:hover{ color:#ff9000;}
.tit_google_con ul li .tit_google_conter{ line-height:20px;}

/**************    会员页面.css   *****************/
.subMenu_hyym{width:570px; height:3px; margin-bottom:5px; border-bottom:3px solid #bdd11a; overflow:hidden;}
.tit_hyym{ width:570px; line-height:30px; color:#333; font-size:14px;}
.tit_hyym_anniu{ height:30px; padding-top:20px; padding-left:460px; width:110px; padding-bottom:5px;}

.tit_hyym_anniu .bot_xttw{ text-align:right; height:30px; width:107px; background:url(../images/main/xttw.jpg); border:0;}
.tit_hyym_twwt{ width:570px; height:30px; padding-bottom:10px;}
.tit_hyym_twwt ul li{ width:100px; padding-left:15px; float:left; line-height:30px;}
.tit_hyym_twwt ul li a{ font-size:14px; color:#333; }
.tit_hyym_twwt ul li a:hover{ color:#ff7200;}
.column_hyym{ width:200px; padding-top:15px; height:40px; }
.bot_hyss{ width:60px; height:30px; background:url(../images/main/sousuo.jpg) no-repeat; border:0;  }
.column_hyym_1{width:200px; margin:15px 0 15px 0; border-bottom:1px solid #777; padding-bottom:10px; }
.title_hyym{ width:130px; float:left; padding-top:10px;height:65px; padding-right:10px;}
.title_hyym ul li{ list-style:none; line-height:20px;}
.title_hyym ul li a{ color:#98b012; font-weight:bold;}
.title_hyym ul li a:hover{ color:#ff9000;}
.title_hyym ul li .tit_con{ line-height:20px;}
.title_hyym_anniu{ width:55px; height:50px; float:left; padding-top:25px;}


.login{ width:591px; height:77px; margin:0 auto; margin-top:20px; background:url(../images/main/login.jpg) no-repeat;}
.login_1{width:750px;margin:30px auto 50px;background:#f7f7f7;border:solid 1px #b7b7b7;padding:0 0 20px 0;}
.login_2{padding:45px 0 10px 218px;}
.login_3{position:relative;margin:0 0 18px;}
.login_4{padding:0 0 5px;}
.login_5{background:#fff;box-shadow:inset 0 2px 2px #dedede;-moz-box-shadow:inset 0 1px 1px #dedede;-webkit-box-shadow:inset 0 1px 1px #dedede;color:#777;border:1px solid #ccc!important;cursor:text;padding:4px 5px!important;font-size:14px; width:300px;}
.login_8{font:normal 14px/22px "Helvetica Neue",Arial,sans-serif;text-decoration:none!important;vertical-align:middle;display:inline-block;text-align:center;padding:4px 10px;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.login_8{background:#4e8000;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9c116',endColorstr='#7eac02');background:-webkit-gradient(linear,0 0,0 100%,from(#a9c116),to(#7eac02));background:-moz-linear-gradient(top,#a9c116,#7eac02);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);-moz-box-shadow:0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);-o-box-shadow:0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);box-shadow:0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);text-shadow:0 -1px 0 rgba(0,0,0,.55);border:1px solid #4e8000;color:#fff!important;}
.login_8:active{background:#6c9401;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe005',endColorstr='#81ae02');background:-webkit-gradient(linear,0 0,0 100%,from(#bfe005),to(#81ae02));background:-moz-linear-gradient(top,#bfe005,#81ae02);-webkit-box-shadow:0 1px 2px #6c9401 inset;-moz-box-shadow:0 1px 2px #6c9401 inset;-o-box-shadow:0 1px 2px #145fb5 inset;box-shadow:0 1px 2px #6c9401 inset;}
.login_6{margin:0 0 10px;}
.login_7{float:left;}
.login_7 a{ color:#98b012}

.login_bg{ width:100%; height:705px; background:url(../images/main/login_bg.jpg);}
.login_logo{ width:360px; height:145px; margin:0 auto; padding-top:230px; padding-bottom:80px;}
.loginbar{ width:540px; height:70px; margin:0 auto;}
.loginbar_l{ width:220px; height:70px; float:left; padding-right:15px;}
.loginbar_r{ width:220px; height:70px; float:left;padding-right:15px;}
.loginbar_l_t{ width:220px; height:28px; font-size:14px; color:#fff; line-height:30px;}
.loginbar_l_j{ width:170px; height:20px; line-height:20px; padding-left:50px; color:#fff; padding-top:10px;}
.login_text{ width:160px; height:28px; background-color:#fff; border:1px solid #333300; color:#333;}
.login_pass{ width:160px; height:28px; background:#fff; border:1px solid #333300;}
.loginbar_l_w{width:170px; height:20px; line-height:20px; padding-left:40px; padding-top:10px;}
.loginbar_l_w a{color:#ffcc00;}
.loginbar_l_w a:hover{  color:#ff7200; text-decoration:underline;}
.loginbar_d{ width:70px; float:left; height:70px;}
.loginbar_but{ width:70px; height:30px; background:url(../images/main/login_d.png) no-repeat; border:none; cursor: pointer;}
.loginbar_toy{ width:540px; height:30px; text-align:center; line-height:30px; color:#fff; margin:0 auto; padding-top:40px;}



/**************   何明旺   *****************/
.STYLE1 {color: #FFFFFF}
.baizhi_button_1{width:100px; height:25px; background-color:#dadade}

/**************    全部通知.css   *****************/

.qu{float:left;height:25px;margin:0 10px;width:25px;border:0 none;}
.eu{height:25px;width:25px;overflow:hidden;border:none;}
.nu{margin:0 0 0 35px; font-size:12px; line-height:20px;}
.x-c{color:#999;}
.su{padding:10px 0;border-bottom:1px solid #DDD;font-weight:bold; width:570px; margin-bottom:10px;}
.x-d a,.x-d a:active,.x-d a:visited,.x-d a:focus{color:#98b012;-moz-outline:none;outline:none;text-decoration:none;}
.x-d a:hover{text-decoration:underline;}


/**************    我的私信.css   *****************/
.subMenu_wdzx_1{ width:500px; height:30px; float:left; line-height:30px; font-size:14px; font-weight:bold; color:#999999;}
.subMenu_wdzx_1 span{ font-size:12px;}
.subMenu_wdzx_2{ width:70px; height:30px; float:left;}
.av{ width:178px; line-height:20px; border:1px solid #7dad01; background:#f5ffd8; font-size:12px; padding:10px; margin-bottom:400px;}
.wdzx{ width:570px; height:53px; margin-top:10px;}
.wdzx_1{ width:53px; height:53px; float:left; padding-right:17px;}
.wdzx_2{ width:500px; height:53px; float:left;}
.wdzx_3{ width:500px; height:26px; line-height:26px;}
.wdzx_3 a{ font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#98b012;}
.wdzx_4{ width:500px; height:26px; line-height:26px; color:#999; text-align:right;}
.wdzx_4 span a{ color:#98b012;}
